# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

rag_service/.env
ps
/ps
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
rag_service/__pycache__
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.ps/
ps/
rag_service/ps/
lib/
lib64/
pyvenv.cfg

# OS junk
.DS_Store
client/public/models