.dock-outer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  pointer-events: none; /* Let panel handle events */
}

.dock-panel {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  
  border-radius: 1rem;
  background-color: rgba(6, 0, 16, 0.5);
  border: 1px solid #222;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  pointer-events: auto;
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid #222;
  background-color: #060010;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateX(-50%);
}