.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* Allow mouse events if interaction is enabled */
.particles-container canvas {
  pointer-events: auto;
}