.starry-night-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #000010 0%, #0c0024 100%);
}

#starry-night-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
